<div class="mat-app-background">
    <mat-toolbar>
        <span>{{title}}</span>
        <button mat-icon-button [routerLink]="['/parkings']">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/map']">
          <mat-icon>public</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


