.parking-detail{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px
}
.map-wrapper{
    position: absolute;
    top: 18rem;
    left: 0;
    right: 0;
    bottom: -11rem;
    margin: 20px;
}

.map-border{
    border: 3px solid orange;
    height: 100%;
}

#map{
    height: 100%;
}
